/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --secondary-accent-color: #FF0070;
  --hover-color: #FF007066;
  --text-color: #F1B2CE;
  --accent-text-color: #000028;
  --cover-image: url('/images/cover-image-dark.png');
  --background-color: #000028;
}

.theme-dark .rec-indicator {
  display: block;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
