/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --secondary-accent-color: #353430;
  --text-color: #353430;
  --accent-text-color: #353430;
  --cover-image: url('/images/cover-image-light.png');
  --background-color: #FFF1F7;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
