/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.text {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
}

.h1{
  color: var(--title-color);
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.h2{
  color: var(--secondary-accent-color);
  margin-block-end: 20px;
}

.accent-text{
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.h4{
  font-weight: normal;
}

.p {
  font-weight: normal;
  color: var(--text-color);
}

.a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.a:hover{
  border-bottom: 2px solid var(--text-color);
}

.a:focus-visible{
  outline: none;
  border: 1px solid var(--text-color);
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding-inline: 10px;
  padding-block: 10px; 
  margin-block-end: 40px;
  height: 100vh;
  background-image: var(--cover-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

/* правый верхний уголок */
.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--secondary-accent-color);
  border-right: 1px solid var(--secondary-accent-color);
}

/* левый нижний уголок */
.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--secondary-accent-color);
  border-left: 1px solid var(--secondary-accent-color);
}

.header__theme-menu {
  grid-row: 1;
  display: flex;  
  align-items: center;
  justify-content: flex-end;
}

.header__theme-menu-button {
  font-family: var(--font-family);
  color: var(--secondary-accent-color);
  font-size: 18px;
  background: transparent;
  text-transform: lowercase;
  border: 0px solid;
  margin-block: 5px;
  min-width: 70px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--secondary-accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover{
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible{
  outline: none;
  text-decoration: underline;
  text-decoration-color: var(--secondary-accent-color);
}

.header .h1 {
  display: flex;
  align-items: center;
  grid-row: 2;
}

.header .h3 {
  grid-row: 3/3;
  height: -webkit-fit-content; /* для Safari */
  height: fit-content;
  max-width: 491px;
  align-self: center;
  justify-self: flex-end;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-color);
  box-sizing: border-box;
  min-width: 100vw;
}

.page__content {
  padding-inline: 10px;
}

.page__content-reasons, .page__content-factors, .page__content-tips{
  display: grid;
}

.article{
  display: grid;
  gap: 10px;
  margin-block-end: 20px;
}

.page__content-reasons{

}

.page__content-factors{

}

.page__content-tips{
  
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill);
  gap: 10px;
  margin-block-start: 10px;
  margin-block-end: 40px;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}