/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.text {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
}

.h1{
  color: var(--title-color);
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.h2{
  color: var(--secondary-accent-color);
  margin-block-end: 20px;
}

.accent-text{
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.h4{
  font-weight: normal;
}

.p {
  font-weight: normal;
  color: var(--text-color);
}

.a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.a:hover{
  border-bottom: 2px solid var(--text-color);
}

.a:focus-visible{
  outline: none;
  border: 1px solid var(--text-color);
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-block-end: 40px;
  height: 100vh;
  background-image: var(--cover-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.rec-indicator {
  position: absolute;
  top: 10px;
  right: 19px;
  font-family: var(--font-family);
  font-size: 18px;
  color: var(--accent-color);
  line-height: 25px;
  text-align: center;
}

.rec-indicator::before {
  content: "REC";
}

.rec-indicator::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: middle;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
  padding-inline: 10px;
  padding-block: 10px;
}

/* правый верхний уголок */
.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--secondary-accent-color);
  border-right: 1px solid var(--secondary-accent-color);
}

/* левый нижний уголок */
.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--secondary-accent-color);
  border-left: 1px solid var(--secondary-accent-color);
}

.header__theme-menu {
  grid-row: 1;
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,auto);
}

.header__theme-menu-button {
  font-family: var(--font-family);
  color: var(--secondary-accent-color);
  font-size: 18px;
  background: transparent;
  text-transform: lowercase;
  border: 0px solid;
  margin-block-end: 10px;
  min-width: 70px;
}

.header__theme-menu-button:hover{
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--secondary-accent-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible{
  outline: none;
  text-decoration: underline;
  text-decoration-color: var(--secondary-accent-color);
}

.header .h1 {
  display: flex;
  align-items: center;
  grid-row: 2;
}

.header .h3 {
  grid-row: 3/3;
  height: -webkit-fit-content; /* для Safari */
  height: fit-content;
  max-width: 491px;
  align-self: center;
  justify-self: flex-end;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-color);
  box-sizing: border-box;
}

.page__content {
  padding-inline: 10px;
}

.page__content__item{
  display: grid;
  margin-block-end: 30px;
}

.article{
  display: grid;
  gap: 10px;
  margin-block-end: 20px;
}

.tips .h3{
  margin-block-end: 10px;
}

.gallery {
  display: grid;
  grid-auto-flow: dense;
  gap: 10px;
  margin-block-start: 10px;
  margin-block-end: 40px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  display: block;
  object-fit: cover;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.footer .text{
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .decorated-zone {
    position: relative;
    padding-inline: 20px;
    padding-block: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec-indicator {
    top: 20px;
    right: 29px;
  }

  .header {
    margin-block-end: 60px;
  }

  .header .h1 {
    transform: translateX(-20px);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) 
  }

  .header .h3 {
    width: 50%;
  }

  .page__content {
    padding-inline: 20px;
  }

  .page__content__item{
    margin-block-end: 60px;
  }

  .reasons {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .reasons .h2{
    grid-row: 1/-1;
    grid-column: 1/1;
  }

  .reasons .article{
    grid-column: 2/2;
  }

  .tips {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .tips .h2{
    grid-row: 1/-1;
    grid-column: 1;
  }

  .tips .article{
    grid-column: 2;
  }

  .gallery {
    margin-block-start: 20px;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
  }

  .gallery__image:first-child{
    grid-column: 1/3;
    grid-row: 1;
  }

  .gallery__image:nth-child(2){
    grid-column: 3;
    grid-row: 1/3;
  }

  .gallery__image:nth-child(3){
    grid-column: 1;
    grid-row: 2/-1;
  }

  .gallery__image:last-child{
    grid-column: 2/-1;
    grid-row: 3;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
}
  .header__theme-menu-list {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3,auto);
  }
  .header__theme-menu-button{
    margin-inline: 5px;
  }
}