/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex mono';
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --secondary-accent-color: #FF0070;
  --hover-color: #FF007066;
  --text-color: #F1B2CE;
  --accent-text-color: #000028;
  --cover-image: url('/images/cover-image-dark.png');
  --background-color: #000028;
}
